include ../button/button.pug

mixin dropdown({ label = '', placeholder = '', items = [], withButtons = true, isActive = false } = {})
  .dropdown
    label.dropdown__label= label
    .dropdown__input-wrapper.js-dropdown__input-wrapper
      input.dropdown__input.js-dropdown__input(
        class=isActive && "dropdown__input_active",
        placeholder=placeholder,
        readonly
      )
      span.dropdown__input-arrow
    .dropdown__menu.js-dropdown__menu(class=isActive && "dropdown__menu_active")
      ul.dropdown__amount-items
        each item in items
          - const { title, value, min, max } = item;
          li.dropdown__amount-select.js-dropdown__amount-select
            h3.dropdown__amount-select-title= title
            .dropdown__amount-select-controls
              button.dropdown__amount-select-button.dropdown__amount-select-button_sign_minus.js-dropdown__amount-select-button_sign_minus(
                type="button"
              )
              input.dropdown__amount-select-number.js-dropdown__amount-select-number(
                type="number",
                min=min,
                max=max,
                value=value,
                readonly=""
              )
              button.dropdown__amount-select-button.dropdown__amount-select-button_sign_plus.js-dropdown__amount-select-button_sign_plus(
                type="button"
              )
      if (withButtons)
        .dropdown__buttons
          .dropdown__button.dropdown__button_type_clear.js-dropdown__button_type_clear
            +button({ text: 'очистить' })
          .dropdown__button.dropdown__button_shift_left.dropdown__button_type_apply.js-dropdown__button_type_apply
            +button({ text: 'применить' })
