include ../amount-select/amount-select.pug
include ../button/button.pug

mixin dropdown({ label='', placeholder='', items=[], buttons=true, active=false}={})
  .dropdown
    label.dropdown__label= label
    .dropdown__input-wrapper.js-dropdown__input-wrapper
      input.dropdown__input.js-dropdown__input(placeholder=placeholder, readonly)
      span.dropdown__input-arrow
    .dropdown__menu.js-dropdown__menu(class=active ? "js-dropdown__menu_active" : "")
      ul.dropdown__amount-items
        each item in items
          - const { title, value, min, max } = item;
          li.dropdown__amount-select.js-dropdown__amount-select
            +amount-select(title, value, min, max)
      if (buttons)
        .dropdown__buttons
          .dropdown__btn.js-dropdown__btn_clear
            +button({text: 'очистить'})
          .dropdown__btn.dropdown__btn_position_margin-left.js-dropdown__btn_apply
            +button({text: 'применить'})
