include ../amount-select/amount-select.pug
include ../button/button.pug

mixin dropdown({ label, placeholder, items, buttons=true, active=false})
  .dropdown
    label.dropdown__label= label
    .dropdown__input-wrapper.js-dropdown__input-wrapper
      input.dropdown__input.js-dropdown__input(placeholder=placeholder, readonly)
      span.dropdown__input-arrow
    .dropdown__menu.js-dropdown__menu(class=active ? 'js-dropdown__menu--active' : '')
      .dropdown__amount-items
        each item in items
          - const { title, value, min, max } = item;
          .dropdown__amount-select.js-dropdown__amount-select
            +amount-select(title, value, min, max)
      if (buttons)
        .dropdown__buttons
          .dropdown__btn.dropdown__btn--clear.js-dropdown__btn--clear
            +button({text: 'очистить'})
          .dropdown__btn.dropdown__btn--apply.js-dropdown__btn--apply
            +button({text: 'применить'})
