mixin radio({text='', checked='true', name='', value=''})
  .radio 
    label.radio__label 
      input.radio__input.radio__input_visually_hidden(
        type="radio",
        checked=checked,
        name=name,
        value=value
      )
      span.radio__bullet
      span.radio__text= text
