include ../like-button/like-button.pug

mixin review-item({name='', online='час назад', avatarSrc='', likeCount=5, isLiked=true, text=''})
  .review-item 
    .review-item__user 
      img.review-item__user-img(src=avatarSrc, alt="user avatar")
      .review-item__user-info 
        .review-item__user-name= name
        .review-item__user-online= online
    .review-item__comment
      .review-item__like
      +like-button(likeCount, isLiked)
      p.review-item__text= text
