include ../../../components/head/head.pug
include ../../../components/header/header.pug
include ../../../components/footer/footer.pug
include ../../../components/submit-button/submit-button.pug
include ../../../components/feature-item/feature-item.pug
include ../../../components/like-button/like-button.pug
include ../../../components/review-item/review-item.pug
include ../../../components/bullet-list/bullet-list.pug
include ../../../components/pie-chart/pie-chart.pug
include ../../../components/booking-form/booking-form.pug

doctype html
html(lang="en")
  +head('Room details')
  body 
    .room-details
      +header
      main.room-details__main
        .room-details__preview
          img.room-details__preview-img.room-details__preview-img_grid-area_first(
            src=require("/assets/img/room-details/room-details-1.jpg"),
            alt="комната отеля"
          )
          img.room-details__preview-img.room-details__preview-img_grid-area_second(
            src=require("/assets/img/room-details/room-details-2.jpg"),
            alt="комната отеля"
          )
          img.room-details__preview-img.room-details__preview-img_grid-area_third(
            src=require("/assets/img/room-details/room-details-3.jpg"),
            alt="комната отеля"
          )
        .room-details__room
          .room-details__room-container
            .room-details__room-inner
              .room-details__room-content
                .room-details__room-about
                  .room-details__room-features
                    h2.room-details__room-features-title Сведения о номере
                    ul.room-details__room-features-items 
                      li.room-details__room-features-item
                        +feature-item('Комфорт', 'Шумопоглощающие стены', 'insert_emoticon')
                      li.room-details__room-features-item
                        +feature-item('Удобство', 'Окно в каждой из спален', 'location_city')
                      li.room-details__room-features-item
                        +feature-item('Уют', 'Номер оснащён камином', 'whatshot')
                  .room-details__room-votes 
                    h2.room-details__room-votes-title Впечатления от номера
                    .room-details__room-votes-content 
                      .room-details__room-votes-chart
                        +pie-chart
                      ul.room-details__room-votes-list 
                        li.room-details__room-votes-item.room-details__room-votes-item_orange Великолепно
                        li.room-details__room-votes-item.room-details__room-votes-item_green Хорошо
                        li.room-details__room-votes-item.room-details__room-votes-item_purple Удовлетворительно
                        li.room-details__room-votes-item.room-details__room-votes-item_black Разочарован
                .room-details__room-reviews
                  .room-details__room-reviews-header 
                    h2.room-details__room-reviews-title Отзывы посетителей номера
                    .room-details__room-reviews-counts 2 отзыва
                  ul.room-details__room-reviews-list
                    li.room-details__room-reviews-item 
                      +review-item({name: 'Мурад Сарафанов', online: '5 дней назад', avatarSrc: require('../../../assets/img/user-img-1.jpg'), likeCount: 12, isLiked:true, text:'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'})
                    li.room-details__room-reviews-item 
                      +review-item({name: 'Патрисия Стёклышкова', online: 'Неделю назад', avatarSrc: require('../../../assets/img/user-img-2.jpg'), likeCount: 2, isLiked:false, text:'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент'})
                .room-details__room-details
                  .room-details__room-rules
                    -
                      const bulletItems = [
                        'Нельзя с питомцами',
                        'Без вечеринок и мероприятий',
                        'Время прибытия — после 13:00,\n а выезд до 12:00'];
                  
                    +bullet-list({ tag:'h2', title: 'Правила', itemsTitle: bulletItems })
                  .room-details__room-cancel 
                    h2.room-details__room-cancel-title Отмена
                    p.room-details__room-cancel-text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
              .room-details__room-form
                +booking-form
      +footer
