mixin rich-checkbox-item(title='', text='', checked=false)
  .rich-checkbox-item
    label.rich-checkbox-item__label
      input.rich-checkbox-item__input.rich-checkbox-item__input_visually_hidden(
        type="checkbox",
        checked=checked
      )
      span.rich-checkbox-item__box 
      span.rich-checkbox-item__title= title
    p.rich-checkbox-item__text= text
