include ../submit-button/submit-button.pug
include ../calendar/calendar.pug
include ../guest-dropdown/guest-dropdown.pug
include ../card-header-info/card-header-info.pug

mixin booking-form({ price = 9999, days = 4, discountServices = 2179, services = 0, extraServices = 300, totalAmount = 38081, selectedDate = [] } = {})
  form.booking-form.js-booking-form
    .booking-form__about
      +card-header-info({ isLarge: true })
    .booking-form__calendar.js-booking-form__calendar
      +calendar({ type: 'multiple', selectedDate: selectedDate })
    .booking-form__dropdown.js-booking-form__dropdown
      +guest-dropdown({ values: [1,2] })
    .booking-form__services-items 
      .booking-form__services-item
        .booking-form__services-item-info
          span.booking-form__services-item-room-price.js-booking-form__services-item-price #{ price }
          | &nbsp;
          span.booking-form__services-item-symbol x
          | &nbsp;
          span.booking-form__services-item-days.js-booking-form__services-item-days #{ days }
          | &nbsp;
          span.booking-form__services-item-days-world.js-booking-form__services-item-days-word суток
          | &nbsp;
        span.booking-form__services-item-price.js-booking-form__services-item-price #{ price * days }
      .booking-form__services-item
        .booking-form__services-item-info
          span.booking-form__services-item-name Сбор за услуги: скидка
          | &nbsp;
          span.booking-form__services-discount-price.js-booking-form__services-item-price #{ discountServices }
          | &nbsp;
          button.booking-form__services-item-info-button(type="button") i
        span.booking-form__services-item-price.js-booking-form__services-item-price #{ services }
      .booking-form__services-item
        .booking-form__services-item-info
          span.booking-form__services-item-name Сбор за дополнительные услуги
          button.booking-form__services-item-info-button(type="button") i
        span.booking-form__services-item-price.js-booking-form__services-item-price #{ extraServices }
    .booking-form__result Итого
      span.booking-form__result-line
      span.booking-form__result-price.js-booking-form__services-item-price #{ totalAmount }
    +submit-button('забронировать')
