include ../rate/rate.pug

mixin room-card({roomNumber=1, price=9999, isLux=true, reviewsCount=10, imgsSrc='', rateNumber=5} = {})
  .room-card.js-room-card
    .room-card__slider.swiper
      .room-card__slider-wrapper.swiper-wrapper
        each imgSrc in imgsSrc 
          .room-card__slide.swiper-slide
            .room-card__img-wrapper
              img.room-card__img(src=imgSrc, alt="комната отеля")
      .room-card__pagination.js_room-card__pagination
      button.room-card__btn.js-room-card__btn-prev(type="button")
        i.room-card__btn-icon expand_more
      button.room-card__btn.room-card__btn_transform_rotate.js-room-card__btn-next(type="button")
        i.room-card__btn-icon expand_more
    .room-card__description
      a.room-card__description-link(href="/mock-address/change-me")
        .room-card__description-header
          .room-card__description-header-room-number
            span.room-card__description-header-symbol №
            span.room-card__description-header-number= roomNumber
            if (isLux)
              span.room-card__description-header-status люкс
          .room-card__description-header-price
            span.room-card__description-header-value.js-room-card__description-header-value= price
            span.room-card__description-header-days в сутки
        .room-card__description-footer
          .rating.js-rating
            +rate(rateNumber)
          .room-card__description-footer-reviews-text
            span.room-card__description-footer-reviews-count= reviewsCount
            |
            | Отзывов
