mixin text-field({text='', type='text', placeholder, focus=false, value='', id='', name=''})
  .text-field
    if (text)
      label.text-field__label(for=id ? id : undefined)= text

    input.text-field__input(
      type=type,
      id=id ? id : undefined,
      name=name,
      placeholder=placeholder,
      value=value,
      class=focus ? "text-field__input_focused" : ""
    )
