mixin text-field({ text = '', type = 'text', placeholder = 'введите текст', focus = false, value = '', name='' } = {})
  .text-field
    label.text-field__label
      if (text)
        span.text-field__text= text
      input.text-field__input(
        type=type,
        name=name,
        placeholder=placeholder,
        value=value,
        class=focus && "text-field__input_focused"
      )
